body {
    margin: 7% auto;
    background-image: url("https://sso.uns.ac.id/module.php/uns/img/symphony.png");
    background-repeat: repeat;
}

.modal-footer {
    border-top: 0px;
    padding: 32px;
    text-align: left;
}

.modal-footer .btn + .btn {
    margin-left: 0
}
